# PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/ishbot"

# MTProto (my.telegram.org dan olish)
API_ID=your_api_id
API_HASH=your_api_hash

# Birinchi marta auth qilgandan keyin konsolda chiqadi
SESSION_STRING="asduigdfg9qe8wegq9gfwep9fadgfiads"

# Telegraf bot (@BotFather dan)
BOT_TOKEN="your_bot_token"

NODE_ENV=development

# Admin Telegram ID lari (vergul bilan ajratib)
ADMIN_IDS=123456789,987654321

PORT=3000
